.container {
	width: 960px;
}

.move {
	margin: 2em;
	width: 150px;
	height: 50px;
	padding: 10px 15px;
	background-color: red;
	color: #fff;
	line-height: 50px;
	text-align: center;
	border-radius: .5em;
	font-size: 20px;
	transition-property: translate();
	transition-duration: 3s;
}
/* ease: the change starts slow then go faster then finishes slow */
#ease {	
	transition-timing-function: ease;	
}
/* linear: the change occurs at the same rate */
#linear {	
	transition-timing-function: linear;
}
/* ease-in: the change start slow then go faster before the end */
#ease-in {	
	transition-timing-function: ease-in;	
}
/* ease-out: the change starts fast then slow down before the end */
#ease-out {	
	transition-timing-function: ease-out;	
}
/* ease-in-out: the change starts slow then go faster then finishes slow */
#ease-in-out {
	transition-timing-function: ease-in-out;	
}

.move:hover {
	transform: translate(500px, 0);
}