button {
  height: 90px;
  width: 290px;
  font-size: 28px;
  color: white;
  border: none;
  background-color: blue;
  /* In property transition: target, duration, transition-timing, delay
  use comma separete to more then one element transition
  use target = all to transition all elements  */
  transition: all 2s ease-in;
}

button:hover {
  background-color: green;
  color: black;
  border-radius: 50%;
}