button {
  height: 90px;
  width: 290px;
  font-size: 28px;
  color: white;
  border: none;
  background-color: blue;
  /* transition properties make changing the state of a component (in this case a button) happen in a more organic way */
  transition-property: background-color;
  transition-duration: 1s;
}

button:hover {
  background-color: green;
}